<!DOCTYPE html>
<html>
  <head>
    <title>Rakuni</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <%= yield %>  <!-- ビューの内容を表示するための部分 -->
  </body>
</html>
